.elementor-579 .elementor-element.elementor-element-77993d9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-579 .elementor-element.elementor-element-e162b18 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --padding-left: 1.25rem;
    --padding-right: 1.25rem;
}

.elementor-579 .elementor-element.elementor-element-e162b18:not(.elementor-motion-effects-element-type-background),
.elementor-579 .elementor-element.elementor-element-e162b18>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(36px/2);
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(36px/2);
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(36px/2);
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-36px/2);
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-36px/2);
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-icon i {
    color: var(--e-global-color-ff4dbcc);
    transition: color 0.3s;
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-icon svg {
    fill: var(--e-global-color-ff4dbcc);
    transition: fill 0.3s;
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #000;
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #000;
}

.elementor-579 .elementor-element.elementor-element-1d76b7e {
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 0px;
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-95b304f-font-family), Sans-serif;
    font-size: var(--e-global-typography-95b304f-font-size);
    font-weight: var(--e-global-typography-95b304f-font-weight);
    line-height: var(--e-global-typography-95b304f-line-height);
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-text {
    color: var(--e-global-color-ff4dbcc);
    transition: color 0.3s;
}

.elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #000;
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(16px/2);
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(16px/2);
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(16px/2);
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-16px/2);
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-16px/2);
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-icon i {
    color: var(--e-global-color-ff4dbcc);
    transition: color 0.3s;
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-ff4dbcc);
    transition: fill 0.3s;
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #000;
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #000;
}

.elementor-579 .elementor-element.elementor-element-6aed821 {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-accent);
}

.elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-579 .elementor-element.elementor-element-97880fd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(0, 0, 0, 0.1);
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-left: 1.25rem;
    --padding-right: 1.25rem;
}

.elementor-579 .elementor-element.elementor-element-97880fd:not(.elementor-motion-effects-element-type-background),
.elementor-579 .elementor-element.elementor-element-97880fd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-79ab199);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    background-color: var(--e-global-color-primary);
    float: right;
    border-style: none;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    background-color: var(--e-global-color-accent);
    border-style: none;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu>ul,
.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,
.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu>li>a {
    display: flex;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    justify-content: flex-start;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu .menu-item .sub-menu {
    left: 100%;
    top: unset;
    right: unset;
    bottom: unset;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 30px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
    font-family: "Manrope", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0px 16px 0px 16px;
    padding: 0px 0px 0px 0px;
    color: #000;
    border-style: none;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a i {
    font-size: 15px;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
    width: 15px;
    fill: var(--e-global-color-secondary);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:not(.hover-gradient, .current-menu-item):hover>a {
    color: var(--e-global-color-accent);
    border-style: none;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:not(.hover-gradient, .current-menu-item):hover>a svg {
    fill: var(--e-global-color-accent);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
    color: var(--e-global-color-primary);
    border-style: none;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
    fill: var(--e-global-color-primary);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i,
.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg,
.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.has-mega-menu>a i,
.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.has-mega-menu>a svg {
    border-style: none;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    margin: 0px 0px 12px 0px;
    padding: 0px 16px 0px 16px;
    border-style: none;
    transition-duration: 0.3s;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:not(.hover-gradient, .current-menu-item):hover>a {
    color: var(--e-global-color-accent);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:not(.hover-gradient, .current-menu-item):hover>a svg {
    fill: var(--e-global-color-accent);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
    color: var(--e-global-color-accent);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
    fill: var(--e-global-color-accent);
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    margin: 8px 0px 0px 0px;
    padding: 12px 0px 0px 0px;
    border-radius: 4px 4px 4px 4px;
    min-width: 132px;
}

.elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    object-fit: cover;
}

.elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button:hover,
.elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button:focus {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-3b270a2);
}

.elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button .elementor-button-content-wrapper {
    gap: 8px;
}

.elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button {
    font-family: var(--e-global-typography-95b304f-font-family), Sans-serif;
    font-size: var(--e-global-typography-95b304f-font-size);
    font-weight: var(--e-global-typography-95b304f-font-weight);
    line-height: var(--e-global-typography-95b304f-line-height);
    fill: var(--e-global-color-3b270a2);
    color: var(--e-global-color-3b270a2);
}

.elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button:hover svg,
.elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button:focus svg {
    fill: var(--e-global-color-3b270a2);
}

@media(max-width:1024px) {
    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-block-end: calc(24px/2);
    }

    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-block-start: calc(24px/2);
    }

    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-inline: calc(24px/2);
    }

    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items.elementor-inline-items {
        margin-inline: calc(-24px/2);
    }

    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        inset-inline-end: calc(-24px/2);
    }

    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-95b304f-font-size);
        line-height: var(--e-global-typography-95b304f-line-height);
    }

    .elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-block-end: calc(12px/2);
    }

    .elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-block-start: calc(12px/2);
    }

    .elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-inline: calc(12px/2);
    }

    .elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items.elementor-inline-items {
        margin-inline: calc(-12px/2);
    }

    .elementor-579 .elementor-element.elementor-element-6aed821 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        inset-inline-end: calc(-12px/2);
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        padding: 0px 0px 0px 20px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        margin: 0px 0px 16px 0px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 28px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 28px;
        fill: var(--e-global-color-3b270a2);
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        border-radius: 4px 4px 4px 4px;
        color: var(--e-global-color-3b270a2);
        margin: 0px 0px 0px 0px;
        padding: 4px 6px 0px 6px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        color: var(--e-global-color-3b270a2);
        margin: 8px 16px 0px 0px;
        padding: 8px 0px 4px 0px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu svg {
        fill: var(--e-global-color-3b270a2);
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 260px;
    }

    .elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button {
        font-size: var(--e-global-typography-95b304f-font-size);
        line-height: var(--e-global-typography-95b304f-line-height);
    }
}

@media(max-width:767px) {
    .elementor-579 .elementor-element.elementor-element-e162b18 {
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --gap: 12px 12px;
        --row-gap: 12px;
        --column-gap: 12px;
    }

    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-579 .elementor-element.elementor-element-1d76b7e .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-95b304f-font-size);
        line-height: var(--e-global-typography-95b304f-line-height);
    }

    .elementor-579 .elementor-element.elementor-element-6aed821 {
        width: 100%;
        max-width: 100%;
        --e-icon-list-icon-size: 20px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 20px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 20px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        margin: 0px 0px 0px 0px;
    }

    .elementor-579 .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 240px;
    }

    .elementor-579 .elementor-element.elementor-element-3f068b7 .elementor-button {
        font-size: var(--e-global-typography-95b304f-font-size);
        line-height: var(--e-global-typography-95b304f-line-height);
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100% !important;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        -moz-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -webkit-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -o-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -ms-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper.active {
        left: 0;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        overflow-y: hidden;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title {
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
        padding: 4px 15px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        position: inherit;
        box-shadow: none;
        background: none;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li {
        display: block;
        width: 100%;
        position: inherit;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu {
        display: none;
        max-height: 2500px;
        opacity: 0;
        visibility: hidden;
        transition: max-height 5s ease-out;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i {
        float: right;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg {
        float: right
    }
}

@media (min-width: 1025px) {
    .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .admin-bar .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 32px;
    }
}

@media (max-width: 782px) {
    .admin-bar .elementor-element.elementor-element-0edca91 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 46px;
    }
}