.elementor-kit-4 {
    --e-global-color-primary: #ae1c29;
    --e-global-color-secondary: #3e4095;
    --e-global-color-text: #4b4f58;
    --e-global-color-accent: #ae1c29;
    --e-global-color-7bcb97a: #A4A4A4;
    --e-global-color-ff4dbcc: #ffffff;
    --e-global-color-5a57b65: #e2dbd4;
    --e-global-color-9fa9bd8: #ffffff;
    --e-global-color-68b7323: #ede9e5;
    --e-global-color-3b270a2: #FFFFFF;
    --e-global-color-79ab199: #e2dbd4;
    --e-global-typography-primary-font-family: "Urbanist";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Urbanist";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Manrope";
    --e-global-typography-text-font-size: clamp(1.0625rem, 1rem + 0.3vw, 1.125rem);
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.45em;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-95b304f-font-family: "Manrope";
    --e-global-typography-95b304f-font-size: 1rem;
    --e-global-typography-95b304f-font-weight: 400;
    --e-global-typography-95b304f-line-height: 1.5em;
    --e-global-typography-a955e0c-font-family: "Manrope";
    --e-global-typography-a955e0c-font-size: 0.875rem;
    --e-global-typography-a955e0c-font-weight: 400;
    --e-global-typography-a955e0c-line-height: 1.42em;
    --e-global-typography-aa01deb-font-family: "Urbanist";
    --e-global-typography-aa01deb-font-size: clamp(2rem, -2.25rem + 10.5vw, 5.875rem);
    --e-global-typography-aa01deb-font-weight: 600;
    --e-global-typography-aa01deb-line-height: 1em;
    --e-global-typography-aa01deb-letter-spacing: -0.02em;
    --e-global-typography-c9c4cff-font-family: "Urbanist";
    --e-global-typography-c9c4cff-font-size: clamp(1.75rem, 1.6rem + 2.5vw, 4.5rem);
    --e-global-typography-c9c4cff-font-weight: 600;
    --e-global-typography-c9c4cff-line-height: 1.15em;
    --e-global-typography-c9c4cff-letter-spacing: -0.02em;
    --e-global-typography-c5aa759-font-family: "Urbanist";
    --e-global-typography-c5aa759-font-size: clamp(1.5rem, 1.1rem + 1.5vw, 2.5rem);
    --e-global-typography-c5aa759-font-weight: 600;
    --e-global-typography-c5aa759-line-height: 1.2em;
    --e-global-typography-c5aa759-letter-spacing: -0.02em;
    --e-global-typography-d5945ed-font-family: "Urbanist";
    --e-global-typography-d5945ed-font-size: clamp(1.375rem, 1.15rem + 1vw, 2rem);
    --e-global-typography-d5945ed-font-weight: 600;
    --e-global-typography-d5945ed-line-height: 1.25em;
    --e-global-typography-7f52cd9-font-family: "Urbanist";
    --e-global-typography-7f52cd9-font-size: clamp(1.25rem, 1.1rem + 0.7vw, 1.75rem);
    --e-global-typography-7f52cd9-font-weight: 600;
    --e-global-typography-7f52cd9-line-height: 1.28em;
    --e-global-typography-7f52cd9-letter-spacing: -0.02em;
    --e-global-typography-96f8762-font-family: "Urbanist";
    --e-global-typography-96f8762-font-size: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
    --e-global-typography-96f8762-font-weight: 600;
    --e-global-typography-96f8762-line-height: 1.34em;
    --e-global-typography-96f8762-letter-spacing: -0.02em;
    background-color: var(--e-global-color-9fa9bd8);
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-kit-4 button,
.elementor-kit-4 input[type="button"],
.elementor-kit-4 input[type="submit"],
.elementor-kit-4 .elementor-button {
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-3b270a2);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 24px;
}

.elementor-kit-4 button:hover,
.elementor-kit-4 button:focus,
.elementor-kit-4 input[type="button"]:hover,
.elementor-kit-4 input[type="button"]:focus,
.elementor-kit-4 input[type="submit"]:hover,
.elementor-kit-4 input[type="submit"]:focus,
.elementor-kit-4 .elementor-button:hover,
.elementor-kit-4 .elementor-button:focus {
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-3b270a2);
}

.elementor-kit-4 p {
    margin-block-end: 0px;
}

.elementor-kit-4 h1 {
    color: #000;
    font-family: var(--e-global-typography-aa01deb-font-family), Sans-serif;
    font-size: var(--e-global-typography-aa01deb-font-size);
    font-weight: 700;
    line-height: var(--e-global-typography-aa01deb-line-height);
    letter-spacing: var(--e-global-typography-aa01deb-letter-spacing);
}

.elementor-kit-4 h2 {
    color: #000;
    font-family: var(--e-global-typography-c9c4cff-font-family), Sans-serif;
    font-size: var(--e-global-typography-c9c4cff-font-size);
    font-weight: var(--e-global-typography-c9c4cff-font-weight);
    line-height: var(--e-global-typography-c9c4cff-line-height);
    letter-spacing: var(--e-global-typography-c9c4cff-letter-spacing);
}

.elementor-kit-4 h3 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-c5aa759-font-family), Sans-serif;
    font-size: var(--e-global-typography-c5aa759-font-size);
    font-weight: var(--e-global-typography-c5aa759-font-weight);
    line-height: var(--e-global-typography-c5aa759-line-height);
    letter-spacing: var(--e-global-typography-c5aa759-letter-spacing);
}

.elementor-kit-4 h4 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-d5945ed-font-family), Sans-serif;
    font-size: var(--e-global-typography-d5945ed-font-size);
    font-weight: var(--e-global-typography-d5945ed-font-weight);
    line-height: var(--e-global-typography-d5945ed-line-height);
}

.elementor-kit-4 h5 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-7f52cd9-font-family), Sans-serif;
    font-size: var(--e-global-typography-7f52cd9-font-size);
    font-weight: var(--e-global-typography-7f52cd9-font-weight);
    line-height: var(--e-global-typography-7f52cd9-line-height);
    letter-spacing: var(--e-global-typography-7f52cd9-letter-spacing);
    word-spacing: var(--e-global-typography-7f52cd9-word-spacing);
}

.elementor-kit-4 h6 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-96f8762-font-family), Sans-serif;
    font-size: var(--e-global-typography-96f8762-font-size);
    font-weight: var(--e-global-typography-96f8762-font-weight);
    line-height: var(--e-global-typography-96f8762-line-height);
    letter-spacing: var(--e-global-typography-96f8762-letter-spacing);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1280px;
}

.e-con {
    --container-max-width: 1280px;
    --container-default-padding-top: 0px;
    --container-default-padding-right: 0px;
    --container-default-padding-bottom: 0px;
    --container-default-padding-left: 0px;
}

.elementor-widget:not(:last-child) {
    --kit-widget-spacing: 16px;
}

.elementor-element {
    --widgets-spacing: 16px 16px;
    --widgets-spacing-row: 16px;
    --widgets-spacing-column: 16px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1024px) {
    .elementor-kit-4 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-4 h1 {
        font-size: var(--e-global-typography-aa01deb-font-size);
        line-height: var(--e-global-typography-aa01deb-line-height);
        letter-spacing: var(--e-global-typography-aa01deb-letter-spacing);
    }

    .elementor-kit-4 h2 {
        font-size: var(--e-global-typography-c9c4cff-font-size);
        line-height: var(--e-global-typography-c9c4cff-line-height);
        letter-spacing: var(--e-global-typography-c9c4cff-letter-spacing);
    }

    .elementor-kit-4 h3 {
        font-size: var(--e-global-typography-c5aa759-font-size);
        line-height: var(--e-global-typography-c5aa759-line-height);
        letter-spacing: var(--e-global-typography-c5aa759-letter-spacing);
    }

    .elementor-kit-4 h4 {
        font-size: var(--e-global-typography-d5945ed-font-size);
        line-height: var(--e-global-typography-d5945ed-line-height);
    }

    .elementor-kit-4 h5 {
        font-size: var(--e-global-typography-7f52cd9-font-size);
        line-height: var(--e-global-typography-7f52cd9-line-height);
        letter-spacing: var(--e-global-typography-7f52cd9-letter-spacing);
        word-spacing: var(--e-global-typography-7f52cd9-word-spacing);
    }

    .elementor-kit-4 h6 {
        font-size: var(--e-global-typography-96f8762-font-size);
        line-height: var(--e-global-typography-96f8762-line-height);
        letter-spacing: var(--e-global-typography-96f8762-letter-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-4 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-4 h1 {
        font-size: var(--e-global-typography-aa01deb-font-size);
        line-height: var(--e-global-typography-aa01deb-line-height);
        letter-spacing: var(--e-global-typography-aa01deb-letter-spacing);
    }

    .elementor-kit-4 h2 {
        font-size: var(--e-global-typography-c9c4cff-font-size);
        line-height: var(--e-global-typography-c9c4cff-line-height);
        letter-spacing: var(--e-global-typography-c9c4cff-letter-spacing);
    }

    .elementor-kit-4 h3 {
        font-size: var(--e-global-typography-c5aa759-font-size);
        line-height: var(--e-global-typography-c5aa759-line-height);
        letter-spacing: var(--e-global-typography-c5aa759-letter-spacing);
    }

    .elementor-kit-4 h4 {
        font-size: var(--e-global-typography-d5945ed-font-size);
        line-height: var(--e-global-typography-d5945ed-line-height);
    }

    .elementor-kit-4 h5 {
        font-size: var(--e-global-typography-7f52cd9-font-size);
        line-height: var(--e-global-typography-7f52cd9-line-height);
        letter-spacing: var(--e-global-typography-7f52cd9-letter-spacing);
        word-spacing: var(--e-global-typography-7f52cd9-word-spacing);
    }

    .elementor-kit-4 h6 {
        font-size: var(--e-global-typography-96f8762-font-size);
        line-height: var(--e-global-typography-96f8762-line-height);
        letter-spacing: var(--e-global-typography-96f8762-letter-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}